version: '3.5'

services:
  mm-web:
    container_name: mm-web
    build:
      context: ./docker/nginx
      args:
        UID: $U_ID
    ports:
      - '1000:80'
    volumes:
      - ./public:/appdata/www/public
    depends_on:
      - mm-app
    networks:
      - mm-network

  mm-app:
    container_name: mm-app
    build:
      context: ./docker/php
      args:
        UID: $U_ID
    volumes:
      - ./:/appdata/www
    ###> XDEBUG 3 ###
    # Use your client IP here
    # Linux: run "ip a | grep docker0"
    # Windows (with WSL2) and Mac: host.docker.internal
    environment:
      XDEBUG_CLIENT_HOST: host.docker.internal
      XDEBUG_CLIENT_PORT: 9003
      PHP_IDE_CONFIG: serverName=mm-server
    networks:
      - mm-network
    depends_on:
      - mm-mysql

  mm-mysql:
    # platform: linux/x86_64 # Uncomment this for Apple Silicon machines
    container_name: mm-mysql
    build:
      context: ./docker/database
    ports:
      - '3336:3306'
    environment:
      MYSQL_DATABASE: customer_db
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mm-mysql-data:/var/lib/mysql
    networks:
      - mm-network
    command: [ 'mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci' ]

networks:
  mm-network:

volumes:
  mm-mysql-data:
